* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  transition: all 0.2s linear;
  text-decoration: none;
}
body,
html {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
  font-weight: normal;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
input,
button,
label {
  font-family: inherit;
}
:root {
  --success-color: #2691d9;
  --error-color: #e74c3c;
}
.account-page {
  background: radial-gradient(#fff, #ffd6d6);
}
.account-info > * {
  margin-bottom: 1rem;
}
.row.row--account {
  padding: 4rem 0;
}
.container-form {
  flex: 1;
  border-radius: 10px;
  background-color: #458a5b;
  border: none;
  padding: 40px;
}
.container h1 {
  text-align: center;
}
.form-control {
  width: 100%;
  position: relative;
  margin-top: 40px;
}
.form-control input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-bottom: 2px solid #ccc;
}
.form-control span {
  border-bottom: 2px solid var(--success-color);
  position: absolute;
  width: 0;
  left: 0;
  top: 38px;
  transition: all 0.3s;
}
.form-control input:focus ~ span {
  width: 100%;
}
.form-control.error small {
  color: var(--error-color);
}
.form-control.error input {
  border-bottom: 2px solid var(--error-color);
}
.btn-submit {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: var(--success-color);
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 25px 0;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-submit:hover {
  background-color: #458a5b;
}
.signup-link {
  text-align: center;
}
.signup-link a {
  color: var(--success-color);
  text-decoration: none;
  cursor: pointer;
}
.signup-link a:hover {
  text-decoration: underline;
}
.form-error {
  color: var(--error-color);
}
.form-control--checkbox label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 1rem;
  font-size: 1.8rem;
}
.form-control--checkbox input {
  width: 2rem;
  height: 2rem;
}
.form-control--server {
  margin-top: 2rem;
}
/* Custom type of input password */
.form-control:nth-child(3) {
  position: relative;
}
.form-control:nth-child(3) i {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.6rem;
}
/* Payment */
.payment-box {
  margin: 2rem 0;
}
.payment-form__heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #e74c3c;
}
/* Count shopping cart */
.box-icon-cart {
  position: relative;
  display: inline-block;
}
.count-item {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  color: #fff;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#458a5b;
  border-radius: 50%;
  font-size: 1.2rem;
}
.btn-details {
  border: 0;
  outline: none;
  padding: 12px;
  border-radius: 6px;
  background-color: #458a5b;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.4rem;
}
/* Accounts */
.account {
  margin: 6rem 0;
}
.account .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5rem;
}
.account .form-group {
  margin-bottom: 1rem;
}
.account .form-group input {
  width: 100%;
  font-family: inherit;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}
.account .form-group input:focus {
  border-color: #e74c3c;
  outline: none;
}
.btn-change-password {
  display: inline-block;
  width: max-content;
  height: 4rem;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  color: #fff;
  background-color: #458a5b;
  border: none;
}
.account-wrapper__heading,
.account-form__heading {
  margin-bottom: 2rem;
}
#logout-btn {
  font-family: inherit;
  display: inline-block;
  min-width: 10rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 8px 8px;
  background-color: #458a5b;
  color: #fff;
  border-radius: 6px;
  margin-top: 1.5rem;
}
